@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display:flex;
}

/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
/* (bold=700) (medium=500) */
/* 16px=1rem */
.brand{
    font-weight: 700;
    font-size: 3rem; 
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 49px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
/* semi-bold=600 */
.btn-primary{
    background-color:#FF900E;
    color:#FFFFFF;
    font-weight:600;
    font-size: 1.25rem;
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    margin-top: 33px;
    /* margin-bottom: 49px; */
}
.banner-image{
    width: 100%;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.teams{
    align-items: center;
    /* gap: 73px; */
    /* max-width: 342px; */
    /* margin: 0 auto; */
}
.our-features{
    margin-left: 73px;
    max-width: 537px;
} 
/* (medium=500) */
#quick-list{
    font-weight: 500;    
}
.section-title{
    font-size: 2.81rem;
    font-weight: 700;
}

.features-description{
    margin-bottom: 32px;
}
.text-primary{
    color:#FF900E;
}


/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;   
    } 
}

/* medium-size device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 20px 50px;
    }
}