@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* =================SHARD STYLE START======================= */
body{
    background-color:#1A0B2E;
}
.display-flex{
    display: flex;
}
.container{
/* text-align: center; */
    justify-items: center;
}


.navbar, .banner{
    max-width: 1600px;
    margin: 0 auto;
}

.text-white{
    color: #FFFFFF;
}
/* =================SHARED STYLE END======================= */


/*=================== NAVBAR SECTION START===============*/
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    display: flex;
}

.navbar img{
    width: 219px;
    height: 32px;
    margin: 30px;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-links{
    display: flex;

}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    /* font-size: 1.12rem; */
    /* color: #424242; */
}

.gradient-btn {
  padding: 14px 28px;
  font-size: 1.13rem;
  color: #FFFFFF;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  background: linear-gradient(90deg, #ff3cac, #784ba0, #ffb347);
  box-shadow: 0 0 20px rgba(255, 60, 172, 0.6);
  transition: all 0.3s ease;
  margin: 24px;
}

/* Hamburger */
#menu-toggle, .hamburger { display: none; }
/*=================== NAVBAR SECTION END===============*/


/* ==========BANNER SECTION START============ */
.banner-title{
    font-weight:800;
    font-size: 3.75rem; 
    color: #FFFFFF;    
}

.banner-content{
    max-width: 550px;
    margin: 0 auto;
    text-align: center; 
    /* margin-bottom: 8px; */
}

.box{
    position: relative;            
}

.hero-circle{    
    left: -80px; 
    top: 30px;
    z-index: 1;

}
.ch-button{
    top: -285px;
    left: 345px;
    z-index:5;
    background-color: #00FF88;
    font-size: 1.13rem;
    font-weight: 600;
    border-radius: 20px;
    padding: 8px 16px;
    /* max-width: 100% */
}

.micro{
    /* width: 116.67px;
    height: 175px;  */
    left: 155px;
    top: -60px;
    z-index:5;
    /* max-width: 100%; */
}

.banner{
    background: url("./images/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    /* background-position-x: 165px; */
    /* background-position-y: 165px; */
}

.video-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #00FF88;
  border: 1.5px solid #ffffff;
  border-radius: 8px;
  font-family: 'Inter'; 
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.video-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: translateY(-1px);
}

.video-button:active {
  transform: translateY(0);
}

.banner-image{
    width: 100%;
    margin-bottom: 44px; 
}
/* ==========BANNER SECTION END============= */


/* ==========ABOUT SECTION START============= */
.ab-title{
    font-weight:700;
    font-size: 3.75rem; 
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.about-text{
    line-spacing: 20px;
}

.break-line{
    width: 1200px;
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom:
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-top: 80px; */
    gap: 80px;
    width: 1200px;
}

.fact-card{
    margin-top:80px;
    /* border: 1px solid #FF900E; */
    width: 240px;
    height: 94px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #00FF88;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* ==========ABOUT SECTION END============= */


/* <!--==========WHY CHOOSE SECTION START ==================--> */
.bento-grid {
    /* max-width: 1200px;
    margin: 0 auto; */
    /* justify-items: center; */
    justify-content: center;   
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(3, 273px);
    background-color:#230E3D;
}

.color{
    background-color:#230E3D;
    padding-top: 12px;
    padding-bottom: 120px;
}

.top{
    margin-top: 120px;
}
.card {
    /* background: var(--card-bg); */
    padding: 30px;
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.05); */
    /* transition: all 0.3s ease; */
    /* justify-content: center; */
    /* background-color: #250D44; */
     background-color:rgba(53, 17, 101, 0.4)    
}

.ch-im{
    width: 60px;
    height: 60px;
}

/* .card:hover {
    border-color: var(--accent);
    transform: translateY(-5px);
} */

.card h3 {
    margin-bottom: 12px;
    font-size: 1.25rem;
}

.card p {
    color: var(--text-muted);
    font-size: 0.95rem;
}

.container h2{
    font-weight: 800;
    font-size: 3rem;
    margin-top: 120px;
    margin-bottom: 40px;
}

.normal-layout{
    grid-column: span 1; /* Takes up 2 columns */
    grid-row: span 2;    /* Takes up 2 rows */
    background: linear-gradient(135deg, #111322 0%, #1e1b4b 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.wide-layout {
    grid-column: span 2; 
    grid-row: span 1; 
    flex-direction: column;    
}
/* <!--==========WHY CHOOSE SECTION END==================--> */


/* <!-- ==========FEATURED SECTION START============--> */
.width{
    max-width: 100%;
    margin: 0 auto; 
}
.if-card{
    width: 380px;
    height: 440px;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    border-radius: 15px;
    background-color: #250D44;
    
}
iframe{
    border-radius: 15px 15px 0 0;
    border: none;
}
.featured-content{
    padding: 0 24px;
}

/* HOST */
.host-name{
    margin-left: 24px;    
}
.host-name img{
    margin-right: 8px;
    
}






.host{
    /* max-width: 1600px;
    height: 280px;
    margin: 0 auto;
    border: 1px solid green; */
    /* justify-content: center;
    align-content: center; */
    background-color: #1A0B2E;
}
.host h2{
    text-align: center;
}

/* .host-info{
    margin: 40px:
    align-items: center; */

.host-img{
    width: 200px;
    height: 200px;
}

.host-container{
    
    width: 75%;
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0px auto;
    /* justify-content: center; */
}
.host-info{
    /* border: 1px solid red; */
    background-color: #250D44;
    max-width: 1200px;
    align-items: center;
    padding: 40px;
    border-radius: 40px; 
    margin-bottom: 120px;
}







.back-color{
    background-color: #1A0B2E;
    /* max-width: 1200px; */
}  



.red{
    color: red;
    
  
}
.brand{
    color:#FFFFFF
}

  
  


.brand{
    font-weight: 700;
    font-size: 2.81rem;
}




/* dark 02 */
.text-gray{
    color: #FFFFFF;
}



@keframes slider{
0%{
    transform: translateX(50px);
    opacity: 0;
}
30%{
    transform: translateX(-55px);
    opacity: 1;
}
50%{
    transform: translateX(-55px);
    opacity: 1;
}
100%{
    transform: translateX(-100px);
    opacity: 0;
}
}



/* display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #00FF88;
  border: 1.5px solid #ffffff;
  border-radius: 8px;
  font-family: 'Inter'; 
  font-size: 18px;
  font-weight: 600;
  cursor: pointer; */




/* dark 03 */

.inline{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
/* .sponsor-companies{
        justify-items: center;
        gap: 50px; */




.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}


.color-green{
    color: #00FF88;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* main>section{
    margin-top: 86px;
} */
.teams{
    align-items:center;
}
.our-features{
    margin-left: 73px;
    max-width: 537px;

}
.text-light-gray{
    color: #727272;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight:500;
}
.features-title{
    font-size: 2.81rem;
    font-weight: 700;
}
.text-primary{
    color: #FF900E; 
}

/* some facts related styles */
/* (60) */



.fact-description{
    /* text-align: center;
    justify-content: center;
    align-item: center; */
    display: inline;
}
.facts-container{
    margin: 0 auto;
}
 /* (59) */

/* (66) */

/* (67) */

/* (69) */
.fact-description{
    max-width: 540px;
}
/* (grid section) */

:root {
    /* --bg-color: #05060f; */
    /* --card-bg: #111322; */
    /* --accent: #4f46e5;
    --text-main: #ffffff;
    --text-muted: #94a3b8; */
}
/* .section-container{
    max-width: 100%;
    margin: 0 auto;
    align-items: center; */
}
/* body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    padding: 60px 20px;
} */

/* img{
    width: 100%;
            height: 100%; */
            







/* .section-header {
    text-align: center;
    margin-bottom: 50px;
} */

.section-header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* The Grid System */





/* Feature Specific Spans */

/* Responsive Rules */








/* responsive media query */
@media screen and (max-width:576px){
 
.hero-circle {
    left: 1px;
    top: 30px;
    z-index: 1;
}
.ch-button {
    top: 74px;
    left: 144px;
    z-index: 5;
    background-color: #00FF88;
    font-size: 1.13rem;
    font-weight: 600;
    border-radius: 20px;
    padding: 8px 16px;
    /* max-width: 100%; */
}

.micro {
    left: -32px;
    top: 314px;
    z-index: 5;
    /* max-width: 100%; */
}
.nav-links {
    display: none;
    /* flex-direction: column;
    background: var(--card);
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex; */
  }

/* .hamburger{
    display:flex;
} */
#menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }

  .hamburger {
    display: block;
    font-size: 26px;
    cursor: pointer;
  }

  .desktop-only { display: none; }

.navbar img {
    width: 219px;
    height: 32px;
    margin-top: 30px;
    margin-left: -185px;
}


}
    
    