/* (4) */
/* <style>
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>



// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* (5) */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
/* (12) */
.display-flex{
    display: flex;
}
/* (47) */
.text-primary{
    color: #FF900E;
}

/* dark 02 */
/* (17) */
.text-gray{
    color: #424242;
}

/* dark03 */
/* (18) */
.text-light-gray{
    color: #727272;
}
/* (22) */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* (31) */
/* (semibold=600) */
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
/* (36-flex and horizonal align dia kor jay ) */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* (42) */
main > section{
    margin-top: 130px;
}
/* (46) */

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */

/* navbar related styles */
/* (9) */
.navbar{
    /* (10) */
    /* display: flex; */
    /* (19) */
    justify-content: space-between;
    /* (25) */
    align-items: center;
}
/* (24) */
/* (bold=700) */
/* 16px=1rem */
.brand{
    font-weight: 700; 
    font-size: 3rem;
}
/* (15) */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
/* (16) */
.nav-link{
    /* (11) */
    /* display: flex; */
    text-decoration: none;
    font-weight: 500;
}
/* (23) */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
/* (29) */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    /* (32) */
    margin-bottom: 50px;
}
/* (30) */
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
/* (33) */
.banner-image{
    width: 100%;
}

/* team and feature related styles */
/* (39)  */
.teams{
    align-items: center;
}
/* (40)  */
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
/* (43) */
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
/* (46) */
#quick-list{
    font-weight: 500;
}

/* features section related styles */
/* 90 */
.features{
    gap: 140px;
}
/* (83) */
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card{
    /* (86) */
    padding: 30px;
    /* (88) */
    border-radius: 8px;
    /* (87) */
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
/* (85) */
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    /* 91 */
    margin-top: 0px;
    margin-bottom: 0px;
}
/* (93) */
#experience-badge{
    padding: 45px 42px;
    /* (95) */
    font-size: 1.5rem;
    font-weight: 500;
    /* (96) */
    margin-left: -100px;
    margin-top: -100px;
}
/* (94) */
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
/* (99) */
.featured-architect img{
    width: 100%;
}

/* some facts related styles */
/* (60) */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
 /* (59) */
.fact-card{
    border: 1px solid #FF900E;
    /* (61) */
    width: 240px;
    height: 240px;
    border-radius: 8px;
   /* (65) */
    text-align: center;
     /* (64-horizontally cneter) */
    align-items: center;
    /* (vertically center) */
    justify-content: center;
}
/* (66) */
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
/* (67) */
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* (69) */
.fact-description{
    max-width: 540px;
}


/* sponsor related styles */
/* (73) */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
/* (75) */
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
/* (76) */
.sponsor-companies img{
    filter: grayscale(100%);
}

/* (34) */
/* responsive media query */
@media screen and (max-width: 576px) {
    /* (35) */
    .navbar, 
    .nav-links, 
    /* (97) */
    .features,
    /* (50) */
    .teams{
        flex-direction: column;
    }
 /* (51) */
    .team-img-container, 
    /* (70) */
    .facts-container, 
    /* (77) */
    .sponsor-companies
    {
         /* (51-1) */
        /* grid-template-columns: repeat(1, 1fr); */
        grid-template-columns: 1fr;
    }
/* (71) */
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
/* (78) */
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
 /* (52) */
    .our-features{
        margin-left: 20px;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* medium size device */
/* (53) */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* (54-teams) */
    /* (99-features) */
    .teams, .features{
        flex-direction: column;
    }
    /* (55) */
    .our-features{
        margin: 50px auto;
    }
/* (78) */
    .sponsor-companies, .facts-container {
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
/* (99) */
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}